
/* Write CSS code here */
body {
    margin: 0px;
    overflow: hidden;
}
#container {
    height: 100vh;
    position: relative;
    background-color: #9dd6e9;
    overflow: hidden;
}
.cloud {
    width: 200px;
    height: 80px;
    background-color:#649eeada;
    border-radius: 40px;
    position: absolute;
}
.cloudBubble1 {
    width: 100px;
    height: 100px;
    background-color: #649eeada;
    border-radius: 50px;
    position:absolute;
    top: -50px;
    left: 30px;
}
.cloudBubble2 {
    width: 60px;
    height: 60px;
    background-color: #649eeada;
    border-radius: 30px;
    position:absolute;
    top: -30px;
    right: 30px;
}
